.trainer-name-container {
    position: relative;
    display: inline-block;
  }
  
  .full-name {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    font-size: small;
    padding: 5px;
    z-index: 1;
  }
  
  .trainer-name-container:hover .full-name {
    display: block;
  }

  .coursename{
    color: var(--TextColor);
  }
  .coursename:hover{
    text-decoration: underline;
  }