<!-- <div class="container-fluid" style="background-color: #ffffff;">
  <div class="row mt-1 align-items-center">
    <div class="col-sm-6 col-md-6 col-lg-2">
      <img routerLink="/"  src="../../assets/Ximboa-Logo.jpg"  class="img-fluid object-fit-fill"  alt="XIMBOA"
        style="cursor: pointer;">
    </div>
    
    <div class="col-sm-6 col-md-6 col-lg-5 d-flex justify-content-between mt-2">
      <div style="width: 200px;">
        <div class="dropdown ">
          <div class="btn dropdown-toggle  border p-2 d-flex align-items-center justify-content-between samllpoppins" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
            <span>
              <i class="fa-brands fa-pix"></i> Category
            </span>
          </div>
          <div>
           
          </div>
          <ul class="dropdown-menu w-100">
            <li  *ngFor="let category of Showcategorydata" [routerLink]="['/relevance']" [queryParams]="{ category: category.category_name }">
              <a class="dropdown-item">{{category.category_name}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="d-flex  gap-2 mt-2 ">
        <div class="d-flex gap-2 navmenu">
          <p routerLink="/Home" routerLinkActive="active-link"  >Home </p> 
          <p>|</p>
        </div>
        <div class="d-flex gap-2 navmenu">
          <p routerLink="/relevance/Allcourses" routerLinkActive="active-link">Courses </p>
          <p>|</p>
        </div>
        <div class="d-flex gap-2 navmenu">
          <p routerLink="/relevance/trainer" routerLinkActive="active-link">Trainer </p>
          <p>|</p>
        </div>
        <div class="d-flex gap-2 navmenu">
          <p routerLink="/relevance/allproducts" routerLinkActive="active-link">Product </p>
          <p>|</p>
        </div>
        <div class="d-flex  navmenu">
          <p routerLink="/relevance/allevents" routerLinkActive="active-link">Event</p>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6 col-md-6 col-lg-3  d-flex align-items-center gap-2">
      <div class="d-flex align-items-center justify-content-between inputContainer1  position-relative ">
        <input type="text" [(ngModel)]="query" (keyup)="searchitem($event)" class="form-control form-control-lg searchinput "
          placeholder="Search courses or instructor">
        <i class="fa-solid fa-magnifying-glass fs-5 pt-1 serachlogo" (click)="onsearch()" style="color: #307DFF;"></i>
        <div *ngIf="suggestions.length" class="suggestions-list">
          <ul>
            <li *ngFor="let item of suggestions" (click)="onSelectSuggestion(item)">
              <a style="text-decoration: none;color: black;">{{item.name }}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="" style="cursor: pointer;">
        <img routerLink="/cart" class="" height="27px" src="../../assets/cart header.png" alt="">
      </div>
  </div>



    <div *ngIf="!(isLoggedIn$ | async)" class="col-sm-6 col-md-6 col-lg-2 text-end d-flex gap-4 justify-content-end ">
      <button routerLink="/signin" class="btn btn-primary rounded samllpoppins">Sign In</button>
      <button routerLink="/signup" class="btn btn-light rounded border samllpoppins">Sign Up</button>
    </div>

    <div *ngIf="(isLoggedIn$ | async)" class="col-sm-6 col-md-6 col-lg-2 ps-3 d-flex align-items-center justify-content-end">
      <button *ngIf="isUser" class="btn btn-sm btn-primary main-button " data-bs-toggle="modal" data-bs-target="#exampleModalExpert" style="font-size: x-small;">
        Become an Expert
      </button>
      <i routerLink="/Notification" class="fa-regular fa-bell mx-2 fs-3 Notification-icon"></i>
      <div class="dropdown">
          <img *ngIf="UserImage; else noImageIcon" [src]="UserImage" data-bs-toggle="dropdown" aria-expanded="false"
            class="rounded-circle object-fit-cover" height="40" width="40" />
          <ng-template #noImageIcon>
            <i class="fa-solid fa-user icon" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
          </ng-template>
        <ul class="dropdown-menu dropdown-menu-start">
          <li><a class="dropdown-item">{{ (user$ | async) }}</a></li>
          <li><a class="dropdown-item" routerLink="/editprofilepicture">Change Profile Image<i class="fa-solid fa-user-pen"></i></a></li>
          <li><a class="dropdown-item" routerLink="/edittrainer">Edit Profile <i class="fa-solid fa-user-pen"></i></a></li>
          <li><a class="dropdown-item" routerLink="/Notification">Notification <i class="fa-solid fa-bell"></i></a></li>
          <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout <i class="fa-solid fa-right-from-bracket"></i></a></li>
        </ul>
      </div>
      <i routerLink="/dashboard" class="fa-solid fa-bars text-primary fs-4 ms-3 " ></i>
    </div> 
</div> -->



<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid ms-0 ps-0">
    <a class="navbar-brand ms-0 ps-0" routerLink="/"><img src="../../assets/Ximboa-Logo.png" class="XIMBOA LOGO" height="60px" alt=""></a>
    
    <img src="../../assets/beta.png" height="50px" width="50px" alt="Beta Version">
    <div class="category-dropdown">
      <div class="dropdown ">
        <div class="btn dropdown-toggle  border p-2 d-flex align-items-center justify-content-between samllpoppins" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
          <span>
            <i class="fa-brands fa-pix"></i> Category
          </span>
        </div>
        <div>
         
        </div>
        <ul class="dropdown-menu w-100">
          <li  *ngFor="let category of Showcategorydata" [routerLink]="['/relevance']" [queryParams]="{ category: category.category_name }">
            <a class="dropdown-item">{{category.category_name}}</a>
          </li>
        </ul>
      </div>
    </div> 
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 ms-5 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"><span  routerLink="/Home" routerLinkActive="active-link" style="cursor: pointer;">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><span  routerLink="/relevance/Allcourses" routerLinkActive="active-link" style="cursor: pointer;">Courses</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><span  routerLink="/relevance/alltrainer" routerLinkActive="active-link" style="cursor: pointer;">Trainer</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><span  routerLink="/relevance/allproducts" routerLinkActive="active-link" style="cursor: pointer;">Product</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><span  routerLink="/relevance/allevents" routerLinkActive="active-link" style="cursor: pointer;">Event</span></a>
        </li>
      </ul>
    </div>
        <div class="d-flex align-items-center justify-content-between inputContainer1  position-relative globale-search">
          <input type="text" [(ngModel)]="query" (keyup)="searchitem($event)" class="form-control form-control-lg searchinput "
            placeholder="Search courses or instructor">
          <i class="fa-solid fa-magnifying-glass fs-5 pt-1 serachlogo" (click)="onsearch()" style="color: #307DFF;"></i>
          <div *ngIf="suggestions.length" class="suggestions-list">
            <ul>
              <li *ngFor="let item of suggestions" (click)="onSelectSuggestion(item)">
                <a style="text-decoration: none;color: black;">{{item.name }}</a>
              </li>
            </ul>
          </div>
        </div>        

        <div class="d-flex align-items-center justify-content-between inputContainer1 position-relative globale-search">
          <input
            type="text" 
            [(ngModel)]="query"
            (keyup)="searchitem($event)"
            class="form-control form-control-lg searchinput"
            placeholder="Search for Courses, Instructor, Product & Event"
          />
          <i class="fa-solid fa-magnifying-glass fs-5 pt-1 serachlogo" (click)="onsearch()" style="color: #307DFF;"></i>
        
          <div *ngIf="suggestions.length" class="suggestions-list">
            <div *ngFor="let group of (groupedSuggestions() | keyvalue)">
              <h6 routerLink=""> {{ group.key ? (group.key | titlecase) : 'Unknown Type' }} listed ({{ group.value.length }}) with {{ query }}</h6>
              <ul>
                <li *ngFor="let item of group.value" (click)="onSelectSuggestion(item)">
                  <a style="text-decoration: none; color: black;">{{ item.name }}</a>
                </li>
              </ul>
            </div>
          </div>
          <div *ngIf="suggestions.length" class="suggestions-list">
            <div *ngFor="let group of (groupedSuggestions() | keyvalue)">
              <h6 (click)="navigateBasedOnGroup(group.key)" style="cursor: pointer;">
                {{ group.key ? (group.key | titlecase) : 'Unknown Type' }} listed ({{ group.value.length }}) with {{ query }}
              </h6>
              <ul>
                <li *ngFor="let item of group.value" (click)="onSelectSuggestion(item)">
                  <a style="text-decoration: none; color: black;">{{ item.name }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="mx-2 pt-1" >
          <i routerLink="/cart" class="fa-solid fa-cart-plus mx-2 fs-4 cart-icon"></i>
        </div>
    
    
        <div *ngIf="!(isLoggedIn$ | async)" class="sign-in-up mt-2 text-end d-flex gap-2 align-items-center justify-content-end ">
          <button routerLink="/signin" class="btn btn-sm btn-primary rounded samllpoppins">Sign In</button>
          <button routerLink="/signup" class="btn btn-sm btn-light rounded border samllpoppins">Sign Up</button>
        </div>
    
        <div *ngIf="(isLoggedIn$ | async)" class="sign-in-up  d-flex align-items-center justify-content-end">
          <button *ngIf="isUser" class="btn btn-sm btn-primary main-button " data-bs-toggle="modal" data-bs-target="#exampleModalExpert" style="font-size: x-small;">
            Become an Expert
          </button>
          <i routerLink="/Notification" class="fa-regular fa-bell mx-2 fs-3 Notification-icon"></i>
           <i class="fa-regular fa-bell position-relative me-4 fs-3 Notification-icon"><span class="position-absolute badge rounded-pill bg-danger " style="font-size: xx-small;top: -2px;left: 26px;">
                22 +
              </span></i> 
          <div class="dropdown">
              <img *ngIf="UserImage" [src]="UserImage" data-bs-toggle="dropdown" aria-expanded="false" class="rounded-circle object-fit-cover" alt="Trainer Image" height="40" width="40" />
              <i  class="fa-solid fa-user icon" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <img *ngIf="UserImage; else noImageIcon" [src]="UserImage" data-bs-toggle="dropdown" aria-expanded="false"
                class="rounded-circle object-fit-cover" height="40" width="40" />
              <ng-template #noImageIcon>
                <i class="fa-solid fa-user icon" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
              </ng-template>
            <ul class="dropdown-menu dropdown-menu-start">
              <li><a class="dropdown-item">{{ (user$ | async) }}</a></li>
              <li><a class="dropdown-item" routerLink="/editprofilepicture">Change Profile Image<i class="fa-solid fa-user-pen"></i></a></li>
              <li><a class="dropdown-item" routerLink="/edittrainer">Edit Profile <i class="fa-solid fa-user-pen"></i></a></li>
              <li><a class="dropdown-item" routerLink="/Notification">Notification <i class="fa-solid fa-bell"></i></a></li>
              <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout <i class="fa-solid fa-right-from-bracket"></i></a></li>
            </ul>
          </div>
          <i routerLink="/dashboard" class="fa-solid fa-bars text-primary fs-4 ms-3 " ></i>
        </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid mx-0 ps-0">
    <a class="navbar-brand m-0 p-0 " routerLink="/">
      <img src="../../assets/Ximboa-Logo.png" class="" height="60px" alt="XIMBOA LOGO">
    </a>
    <!-- <a class="navbar-brand ms-0 ps-0 d-none d-lg-block d-md-block" routerLink="/">
      <img src="../../assets/Ximboa-Logo.png" class="" height="60px" alt="XIMBOA LOGO">
    </a> -->
    <!-- <a class="navbar-brand ms-0 ps-0 d-block d-lg-none d-md-none" routerLink="/">
      <img src="../../assets/Ximboa-2-Logo.png" height="60px" alt="XIMBOA LOGO">
    </a> -->

    <img src="../../assets/beta.png" height="50px" width="50px" alt="Beta Version">

    <!-- Category Dropdown -->
    <div class="category-dropdown d-none d-lg-block">
      <div class="dropdown">
        <div class="btn dropdown-toggle border p-2 d-flex align-items-center justify-content-between samllpoppins"
          type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span>
            <i class="fa-brands fa-pix"></i> Category
          </span>
        </div>
        <ul class="dropdown-menu w-100">
          <li *ngFor="let category of Showcategorydata" [routerLink]="['/relevance']"
            [queryParams]="{ category: category.category_name }">
            <a class="dropdown-item">{{ category.category_name }}</a>
          </li>
        </ul>
      </div>
    </div>

    <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ps-3 mb-2 mb-lg-0 " style="font-size: 14px;">
        <li class="nav-item">
          <a class="nav-link active"><span routerLink="/Home" routerLinkActive="active-link"
              style="cursor: pointer;">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><span routerLink="/relevance/Allcourses" routerLinkActive="active-link"
              style="cursor: pointer;">Course</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><span routerLink="/relevance/alltrainer" routerLinkActive="active-link"
              style="cursor: pointer;">Trainer</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><span routerLink="/relevance/allproducts" routerLinkActive="active-link"
              style="cursor: pointer;">Product</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><span routerLink="/relevance/allevents" routerLinkActive="active-link"
              style="cursor: pointer;">Event</span></a>
        </li>
      </ul>
    </div>
    <!-- Search Bar -->
    <div class="d-flex align-items-center justify-content-between inputContainer1 position-relative globale-search ">
      <input type="text" [(ngModel)]="query" (keyup)="searchitem($event)"
        class="form-control form-control-lg searchinput " placeholder="Search Anything..." />
      <i class="fa-solid fa-magnifying-glass fs-5 pt-1 serachlogo" (click)="onsearch()" style="color: #307DFF;"></i>

      <div *ngIf="suggestions.length" class="suggestions-list">
        <div *ngFor="let group of (groupedSuggestions() | keyvalue)">
          <h6 (click)="navigateBasedOnGroup(group.key)" style="cursor: pointer;">
            {{ group.key ? (group.key | titlecase) : 'Unknown Type' }} listed ({{ group.value.length }}) with {{ query
            }}
          </h6>
          <ul>
            <li *ngFor="let item of group.value" (click)="onSelectSuggestion(item)">
              <a style="text-decoration: none; color: black;">{{ item.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>



    <!-- Cart Icon -->
    <i routerLink="/cart"  class="fa-solid fa-cart-plus mx-2 pt-1 fs-4 cart-icon d-none d-lg-block" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"  data-bs-title="Cart"></i>

    <!-- Sign In / Sign Up (conditionally based on user login status) -->
    <div *ngIf="!(isLoggedIn$ | async)"
      class="sign-in-up mt-2 text-end d-flex gap-2 align-items-center justify-content-end">
      <button routerLink="/signin" class="btn btn-sm btn-primary rounded samllpoppins">Sign In</button>
      <button routerLink="/signup" class="btn btn-sm btn-light rounded border samllpoppins">Sign Up</button>
    </div>

    <div *ngIf="(isLoggedIn$ | async)" class="sign-in-up d-flex align-items-center justify-content-end gap-2">
      <button *ngIf="isUser" class="btn btn-sm btn-primary main-button" data-bs-toggle="modal"
        data-bs-target="#exampleModalExpert" (click)="GetInstitutelist()" style="font-size: x-small;">
        Become an Expert
      </button>
      <!-- <i routerLink="/Notification" class="fa-regular fa-bell mx-2 fs-3 Notification-icon"></i> -->
      <i routerLink="/Notification" class="fa-regular fa-bell position-relative z-3 fs-4 Notification-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Notification"> <span
          *ngIf="unseennotificationcount > 0" class="position-absolute badge rounded-pill bg-danger "
          style="font-size: xx-small;top: -2px;left: 22px;">
          {{unseennotificationcount}}
        </span></i>

           <!-- <i routerLink="/dashboard" class="fa-solid fa-bars text-primary fs-4 ms-3"></i> -->
      <img routerLink="/dashboard"  src="../../assets/Dashboard icon.png" height="32px" width="32px" alt=""  style="cursor: pointer;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"  data-bs-title="Home">
      <!-- User Profile Dropdown -->
      <div class="dropdown">
        <img *ngIf="UserImage; else noImageIcon" [src]="UserImage" data-bs-toggle="dropdown" aria-expanded="false"
          class="rounded-circle object-fit-cover" height="35" width="35" />
        <ng-template #noImageIcon>
          <i class="fa-solid fa-user icon" data-bs-toggle="dropdown" aria-expanded="false"></i>
        </ng-template>
        <ul class="dropdown-menu dropdown-menu-start">
          <li><a class="dropdown-item">{{ (user$ | async) }}</a></li>
          <li><a class="dropdown-item" routerLink="/editprofilepicture">Change Profile Image<i
                class="fa-solid fa-user-pen"></i></a></li>
          <li><a class="dropdown-item" routerLink="/edittrainer">Edit Profile <i class="fa-solid fa-user-pen"></i></a>
          </li>
          <!-- <li><a class="dropdown-item" routerLink="/Notification">Notification <i class="fa-solid fa-bell"></i></a></li> -->
          <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout <i
                class="fa-solid fa-right-from-bracket"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar fixed-top d-block d-lg-none ">
  <div class="container-fluid">
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"
      style="width: 60%; height: 50% !important;">
      <div class="offcanvas-header mb-0 pb-0">
        <!-- <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body ">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active"><span routerLink="/Home" routerLinkActive="active-link" style="cursor: pointer;"
                data-bs-dismiss="offcanvas">Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><span routerLink="/relevance/Allcourses" routerLinkActive="active-link"
                style="cursor: pointer;" data-bs-dismiss="offcanvas">Courses</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><span routerLink="/relevance/alltrainer" routerLinkActive="active-link"
                style="cursor: pointer;" data-bs-dismiss="offcanvas">Trainers</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><span routerLink="/relevance/allproducts" routerLinkActive="active-link"
                style="cursor: pointer;" data-bs-dismiss="offcanvas">Products</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><span routerLink="/relevance/allevents" routerLinkActive="active-link"
                style="cursor: pointer;" data-bs-dismiss="offcanvas">Events</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<!-- Modal -->
<div class="modal" id="exampleModalExpert" tabindex="-1" aria-labelledby="exampleModalLabel" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-xl ">
    <div class="modal-content p-4">
      <div class="text-end">
        <!-- <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Course</h1> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- <form (ngSubmit)="onSubmit()" >
        <div class="modal-body">
          <label for="exampleFormControlInput1" class="form-label">Select Expert Type</label>
          <div class="form-group">
            <label for="roleSelect">Select Role</label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="role.requested_Role"
              name="requested_Role" (change)="onRoleChange()">
              <option value="" disabled>Select option</option>
              <option value="SELF_EXPERT">Self Expert</option>
              <option value="INSTITUTE">Institution</option>
              <option value="TRAINER">JOIN INSTITUTE TRAINER</option>
            </select>
          </div>

          <div *ngIf="role.requested_Role === 'SELF_EXPERT'" class="mt-2">
            <div class="form-group mb-2">
              <label for="field1">Business Name</label>
              <input type="text" id="business_Name" class="form-control" name="business_Name" [(ngModel)]="role.business_Name">
            </div>
          </div>

          <div *ngIf="role.requested_Role === 'INSTITUTE'" class="mt-2">
            <div class="form-group mb-2">
              <label for="field1">INSTITUTE Name</label>
              <input type="text" id="business_Name" class="form-control" name="business_Name" [(ngModel)]="institute.business_Name">
            </div>
            <div class="form-group mb-2">
              <label for="field2">Mobile No</label>
              <input type="text" id="field2" class="form-control" name="field2">
            </div>
            <div class="form-group mb-2">
              <label for="address_1">Address Line 1</label>
              <input type="text" id="address_1" class="form-control" name="address_1" [(ngModel)]="institute.address_1">
            </div>
            <div class="form-group mb-2">
              <label for="field4">Address Line 2</label>
              <input type="text" id="field4" class="form-control" name="field4">
            </div>
            <div class="form-group mb-2">
              <label for="field4">State</label>
              <input type="text" id="field4" class="form-control" name="field4">
            </div>
            <div class="form-group mb-2">
              <label for="field4">Contry</label>
              <input type="text" id="field4" class="form-control" name="field4">
            </div>
            <div class="form-group mb-2">
              <label for="field4">Zip-code</label>
              <input type="text" id="field4" class="form-control" name="field4">
            </div>
          </div>

          <div *ngIf="role.requested_Role === 'TRAINER'" class="mt-2">
            <label for="roleSelect">Select Institute</label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="TrainerundersInstitute.instituteId"
            name="instituteId">
              <option value="" disabled>Select option</option>
              <option *ngFor="let institute of Institutedata" value="{{institute._id}}">{{institute.institute_name}}</option>
            </select>
          </div>

        </div>
        <div class="d-flex align-items-center justify-content-end gap-4 mt-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form> -->
    
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="modal-body">

          <!-- Role Selection -->
           <div class="col-sm-12 col-md-6 col-lg-6">
          <label for="roleSelect">Select Role<sup>*</sup></label>
          <select class="form-select" aria-label="Default select example" [(ngModel)]="role.requested_Role"
            name="requested_Role" (change)="onRoleChange()" #roleSelect="ngModel" required>
            <option value="" disabled>Select option</option>
            <option value="SELF_EXPERT">Self Expert</option>
            <option value="INSTITUTE">Institution</option>
            <option value="TRAINER">JOIN AS INSTITUTE TRAINER</option>
          </select>
          <small *ngIf="roleSelect.invalid && (roleSelect.touched || roleSelect.dirty)"
            [ngClass]="{'text-danger': roleSelect.errors?.['required']}">
            Role is required
          </small>
        </div>

          <!-- SELF_EXPERT Fields -->
          <div *ngIf="role.requested_Role === 'SELF_EXPERT'" class="row mt-3">
            <div class="col-sm-12 col-md-6 col-lg-6 form-group mb-2">
              <label for="business_Name">Business Name<sup>*</sup></label>
              <input type="text" id="business_Name" class="form-control" name="business_Name"
                [(ngModel)]="role.business_Name" required>
              <div
                *ngIf="form.submitted || form.controls['business_Name']?.touched || form.controls['business_Name']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['business_Name']?.errors?.['required']">Business Name is required</small>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 form-group mb-2">
              <label for="whatsapp_no">Whatsapp No<sup>*</sup></label>
              <input type="text" id="whatsapp_no" class="form-control" name="whatsapp_no" [(ngModel)]="role.whatsapp_no"
                required>
              <div *ngIf="form.submitted || form.controls['whatsapp_no']?.touched || form.controls['whatsapp_no']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['whatsapp_no']?.errors?.['required']">Whatsapp No is required</small>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 form-group mb-2">
              <label for="date_of_birth">Date of Birth<sup>*</sup></label>
              <input type="date" id="date_of_birth" class="form-control" name="date_of_birth" [(ngModel)]="role.date_of_birth"
                required>
              <div *ngIf="form.submitted || form.controls['date_of_birth']?.touched || form.controls['date_of_birth']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['date_of_birth']?.errors?.['required']">Date of Birth is required</small>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 form-group mb-2">
              <label for="address_1">Address Line 1<sup>*</sup></label>
              <input type="text" id="address_1" class="form-control" name="address_1" [(ngModel)]="role.address_1"
                required>
              <div *ngIf="form.submitted || form.controls['address_1']?.touched || form.controls['address_1']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['address_1']?.errors?.['required']">Address Line 1 is required</small>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 form-group mb-2">
              <label for="address2">Address Line 2<sup>*</sup></label>
              <input type="text" id="address2" class="form-control" name="address2" [(ngModel)]="role.address2"
                required>
              <div *ngIf="form.submitted || form.controls['address2']?.touched || form.controls['address2']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['address2']?.errors?.['required']">Address Line 2 is required</small>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 form-group mb-2">
              <label for="city">City<sup>*</sup></label>
              <input type="text" id="city" class="form-control" name="city" [(ngModel)]="role.city" required>
              <div *ngIf="form.submitted || form.controls['city']?.touched || form.controls['city']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['city']?.errors?.['required']">City is required</small>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 form-group mb-2">
              <label for="state">State<sup>*</sup></label>
              <input type="text" id="state" class="form-control" name="state" [(ngModel)]="role.state" required>
              <div *ngIf="form.submitted || form.controls['state']?.touched || form.controls['state']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['state']?.errors?.['required']">State is required</small>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 form-group mb-2">
              <label for="country">Country<sup>*</sup></label>
              <input type="text" id="country" class="form-control" name="country" [(ngModel)]="role.country" required>
              <div *ngIf="form.submitted || form.controls['country']?.touched || form.controls['country']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['country']?.errors?.['required']">Country is required</small>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 form-group mb-2">
              <label for="pincode">Pincode<sup>*</sup></label>
              <input type="text" id="pincode" class="form-control" name="pincode" [(ngModel)]="role.pincode"
                required>
              <div *ngIf="form.submitted || form.controls['pincode']?.touched || form.controls['pincode']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['pincode']?.errors?.['required']">Pincode is required</small>
              </div>
            </div>
          </div>

          <!-- INSTITUTE Fields -->
          <div *ngIf="role.requested_Role === 'INSTITUTE'" class="row mt-3">
            <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-2">
              <label for="business_Name">INSTITUTE Name<sup>*</sup></label>
              <input type="text" id="business_Name" class="form-control" name="business_Name"
                [(ngModel)]="institute.business_Name" required>
              <div
                *ngIf="form.submitted || form.controls['business_Name']?.touched || form.controls['business_Name']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['business_Name']?.errors?.['required']">Institute Name is required</small>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-2">
              <label for="mobile_number">Mobile No<sup>*</sup></label>
              <input type="text" id="mobile_number" class="form-control" name="mobile_number" [(ngModel)]="institute.mobile_number"
                required>
              <div *ngIf="form.submitted || form.controls['mobile_number']?.touched || form.controls['mobile_number']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['mobile_number']?.errors?.['required']">Mobile No is required</small>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-2">
              <label for="whatsapp_no">Whatsapp No<sup>*</sup></label>
              <input type="text" id="whatsapp_no" class="form-control" name="whatsapp_no" [(ngModel)]="institute.whatsapp_no"
                required>
              <div *ngIf="form.submitted || form.controls['whatsapp_no']?.touched || form.controls['whatsapp_no']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['whatsapp_no']?.errors?.['required']">Whatsapp No is required</small>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-2">
              <label for="date_of_birth">Date of Birth<sup>*</sup></label>
              <input type="date" id="date_of_birth" class="form-control" name="date_of_birth" [(ngModel)]="institute.date_of_birth"
                required>
              <div *ngIf="form.submitted || form.controls['date_of_birth']?.touched || form.controls['date_of_birth']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['date_of_birth']?.errors?.['required']">Date of Birth is required</small>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-2">
              <label for="address_1">Address Line 1<sup>*</sup></label>
              <input type="text" id="address_1" class="form-control" name="address_1" [(ngModel)]="institute.address_1"
                required>
              <div *ngIf="form.submitted || form.controls['address_1']?.touched || form.controls['address_1']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['address_1']?.errors?.['required']">Address Line 1 is required</small>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-2">
              <label for="address2">Address Line 2<sup>*</sup></label>
              <input type="text" id="address2" class="form-control" name="address2" [(ngModel)]="institute.address2"
                required>
              <div *ngIf="form.submitted || form.controls['address2']?.touched || form.controls['address2']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['address2']?.errors?.['required']">Address Line 2 is required</small>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-2">
              <label for="city">City<sup>*</sup></label>
              <input type="text" id="city" class="form-control" name="city" [(ngModel)]="institute.city" required>
              <div *ngIf="form.submitted || form.controls['city']?.touched || form.controls['city']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['city']?.errors?.['required']">City is required</small>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-2">
              <label for="state">State<sup>*</sup></label>
              <input type="text" id="state" class="form-control" name="state" [(ngModel)]="institute.state" required>
              <div *ngIf="form.submitted || form.controls['state']?.touched || form.controls['state']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['state']?.errors?.['required']">State is required</small>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-2">
              <label for="country">Country<sup>*</sup></label>
              <input type="text" id="country" class="form-control" name="country" [(ngModel)]="institute.country" required>
              <div *ngIf="form.submitted || form.controls['country']?.touched || form.controls['country']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['country']?.errors?.['required']">Country is required</small>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-2">
              <label for="pincode">Pincode<sup>*</sup></label>
              <input type="text" id="pincode" class="form-control" name="pincode" [(ngModel)]="institute.pincode"
                required>
              <div *ngIf="form.submitted || form.controls['pincode']?.touched || form.controls['pincode']?.dirty"
                class="text-danger">
                <small *ngIf="form.controls['pincode']?.errors?.['required']">Pincode is required</small>
              </div>
            </div>
          </div>
          </div>

          <!-- TRAINER Fields -->
          <div *ngIf="role.requested_Role === 'TRAINER'" class="mt-3">
            <label for="roleSelect">Select Institute<sup>*</sup></label>
            <select class="form-select" aria-label="Default select example"
              [(ngModel)]="TrainerundersInstitute.instituteId" name="instituteId" required>
              <option value="" disabled>Select Institute</option>
              <option *ngFor="let institute of Institutedata" value="{{institute._id}}">{{institute.institute_name}}
              </option>
            </select>
            <div *ngIf="form.submitted || form.controls['instituteId']?.touched || form.controls['instituteId']?.dirty"
              class="text-danger">
              <small *ngIf="form.controls['instituteId']?.errors?.['required']">Institute selection is required</small>
            </div>
          </div>

        </div>

        <div class="d-flex align-items-center justify-content-end gap-4 mt-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>


    </div>
  </div>
</div>

<!-- whatsapp-icon -->
<!-- <a class="h-0 w-0" href="https://wa.me/+919130167333" target="_blank"><i
  class="fa-brands fa-whatsapp whatsapp-icon"></i></a> -->