

.card-user{
  border: 1px solid black ;
  padding: 5px 5px 0 5px;
  border-radius: 5px;
}


.star-rating{
  .fa-star {
  font-size: 18px; 
  }

.checked {
  color: gold;  
}

}

.fa-star {
  color: lightgray; /* Default star color */
}

.checked {
  color: gold; /* Color for filled stars */
}

.btnq{
  background-color: var(--TextColor);
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
}


.share-options {
    position: absolute;
    display: flex; 
    align-items: center;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
    border-radius: 5px;
    background-color: white;
}

.share-option {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.share-button:hover {
  background-color: #0056b3; 
}


.trainer-name-container {
  position: relative;
  display: inline-block;
}

.full-name {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  font-size: small;
  padding: 5px;
  z-index: 1;
}

.trainer-name-container:hover .full-name {
  display: block;
}
