.tagname{
    font-size: small !important;
    label{
        cursor: pointer;
    }
}
p{
    font-size: smaller;
}

label:hover{
    color: royalblue;
    text-decoration: underline;
}

.keywordheading{
    font-size: 14px;
    font-weight: 700;
}

