<div class="container-fluid" style="background-color: var(--bodyColor);">
    <div class="row ">

        <div class="col-lg-2 rounded-end pt-1 sidebarlgscreen me-0 pe-0" >
            <div class="rounded" style="background-color: var(--WhiteColor);">
            <ul class="list ps-4 pt-2 pb-3">
                <!-- Dashboard: Visible to USER, TRAINER, ADMIN -->
                <li *ngIf="isUser" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class=" " style="margin-top: 10px !important;">
                    <i class="fa-solid fa-house pt-2" ></i> Home
                </li>
            
                <!-- Request: Visible only to ADMIN & Institute -->
                <li *ngIf="isAdmin || isInstitute" routerLink="/dashboard/superadmin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="hover">
                    <i class="fa-solid fa-repeat pt-2 " ></i> Request
                </li>
            
                <!-- Category: Visible only to ADMIN -->
                <li *ngIf="isAdmin" routerLink="/dashboard/admincategory" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="hover">
                    <i class="fa-brands fa-pix pt-2 " ></i> Category
                </li>
            
                <!-- Course: Visible to USER, TRAINER,SELF_EXPRT, INSTITUTE, ADMIN -->
                <li *ngIf="isUser" routerLink="/dashboard/mycourse" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="hover">
                    <i class="fa-solid fa-cart-shopping pt-2 " ></i> Course
                </li>
            
                <!-- Product: Visible to TRAINER and ADMIN -->
                <li *ngIf="isUser" routerLink="/dashboard/product" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="hover">
                    <i class="fa-solid fa-square-check pt-2 " ></i> Product
                </li>
            
                <!-- Event: Visible to TRAINER and ADMIN -->
                <li *ngIf="isUser" routerLink="/dashboard/event" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="hover">
                    <i class="fa-solid fa-calendar-days pt-2 " ></i> Event
                </li>
            
                <!-- Enquiry: Visible to TRAINER and ADMIN -->
                <li *ngIf="isTrainer || isSELF_EXPERT" routerLink="/dashboard/enquiry" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="hover">
                    <i class="fa-solid fa-envelope pt-2 " ></i> Enquiry
                </li>
            
                <!-- Appointment: Visible to TRAINER and ADMIN -->
                <li *ngIf="isTrainer || isSELF_EXPERT" routerLink="/dashboard/appointment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="hover">
                    <i class="fa-solid fa-circle-user pt-2 " ></i> Appointment
                </li>
            
                <!-- Question: Visible to TRAINER and ADMIN -->
                <li *ngIf="isTrainer || isSELF_EXPERT" routerLink="/dashboard/question" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="hover">
                 <i class="fa-solid fa-circle-question pt-2"></i> Question
                </li>
            
                <!-- Review: Visible to TRAINER and ADMIN -->
                <li *ngIf="isTrainer || isInstitute || isSELF_EXPERT" routerLink="/dashboard/review" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="hover">
                    <i class="fa-solid fa-face-smile pt-2 " ></i> Review
                </li>
                            
                <!-- Message: Visible only to USER and ADMIN -->
                <!-- <li *ngIf="isUser" routerLink="er" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  class=" hover">
                    <i class="fa-solid fa-clock-rotate-left pt-2 " ></i> Message
                </li> -->
                
                <hr class="my-4">
               <!-- <li>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                </div>
                Darkmode
            </li>  -->
               <li (click)="logout()"><i class=" fas fa-sign-out-alt pt-2  text-danger"></i> Logout</li> 
            </ul>
        </div>
            
        </div>
        
        
        <div class="col-lg-10 pt-2">
            <div class="row">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>      
</div> <!-- close container -->












